* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.app-container {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  position: relative;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  font-size: 2rem;
  will-change: transform, filter;
  filter: url(#glitch-displacement);
}


@font-face {
  font-family: "AnotherDanger";
  src: url("./assets/fonts/AnotherDanger.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GlitchGoblin";
  src: url("./assets/fonts/GlitchGoblin.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
